<h1>Pessoa Física</h1>

<form  [formGroup]="pessoaFisicaForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input id="nome" type="text" formControlName="nome" class="form-control" [(ngModel)]="pessoaFisica.nome" name="nome" maxlength="50" required>
    
    <control-messages [control]="pessoaFisicaForm.controls.nome"></control-messages> 
  </div>
  <div class="form-group">
    <label for="sobreNome">Sobrenome</label>
    <input id="sobreNome" type="text" formControlName="sobreNome" class="form-control" [(ngModel)]="pessoaFisica.sobreNome" name="sobreNome" maxlength="50" required>
    
    <control-messages [control]="pessoaFisicaForm.controls.sobreNome"></control-messages> 
  </div>
  <div class="form-group">
    <label for="cpfGroup">CPF</label>
    <div id="cpfGroup">
      <p-inputMask id="cpf" formControlName="cpf" [(ngModel)]="pessoaFisica.cpf" mask="999.999.999-99" name="cpf" unmask="true" required></p-inputMask>
      <control-messages [control]="pessoaFisicaForm.controls.cpf"></control-messages> 
    </div>    
  </div>
  <app-endereco-form
  [estado] = "pessoaFisica.endereco.estado"
  [cidade] = "pessoaFisica.endereco.cidade"
  [logradouro] = "pessoaFisica.endereco.logradouro"
  (onEstadoChangeOutput) = "onEnderecoEstadoChange($event)"
  (onCidadeChangeOutput) = "onEnderecoCidadeChange($event)"
  (onLogradouroChangeOutput) = "onEnderecoLogradouroChange($event)"
  >
  </app-endereco-form>
  <button class="btn btn-primary" [disabled]="!pessoaFisicaForm.valid || !enderecoValido">Salvar</button>
</form>
